.DS_Store
.vscode
configstore
fakevim
fakevim.new
firebase
flutter
gatsby
gcloud
gh
github-copilot
gtk-2.0
gtk-3.0
kitty
nvim
nvim.backup
op
raycast
rclone
rstudio
simple-update-notifier
stripe
yarn
zed
