fakevim
fakevim.new
firebase
flutter
gatsby
gcloud
github-copilot
gtk-2.0
gtk-3.0
kitty
rclone
rstudio
simple-update-notifier
stripe
yarn
zed
.DS_Store
nvim
tmux
raycast
configstore
gh
.vscode
nvim.backup
op
